body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #fefcf9;
    overflow-x: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 0;
    text-align: center;
    text-align: center;
    grid-area: header;
}

main {
    padding: 2rem !important;
    text-align: center;
    grid-area: main;
    width: 100%;
    overflow-x: hidden;
}

nav {
    margin: auto;
    padding: 0 5rem;
    max-width: 1200px;
}

.navbar-brand {
    margin: 0;
}

section {
    max-width: 1000px;
    text-align: left;
    padding: 20px 0;
    width: auto;
}

h2 {
    color: #35424a;
    width: auto;
}

h3 {
    color: #666;
}

p {
    width: auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: auto;
    grid-area: footer;
}

.navbar {
    height: auto;
    position: relative;
    box-shadow: none;
    width: 100%;
    text-align: left;
    overflow: auto;
}

.navbar-nav {
    padding: 1rem 0;
}

.nav-item.dropdown .dropdown-menu {
    display: none;
}

.nav-link.active {
    font-weight: bold;
    color: #ffcc00 !important;
}

@media (min-width: 991px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        z-index: 1000;
        box-shadow: none;
        padding: 1rem 0;
    }

    .media-flex-column {
        flex-direction: column !important;
    }

    main {
        width: calc(100vw - 300px) !important;
        margin-left: 300px !important;
        margin-right: 0 !important;
        padding: 0 6rem !important;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer {
        padding-left: 300px !important;
    }

    header {
        max-width: 300px;
    }
}

@media (max-width: 991px) {
    .navbar {
        height: auto;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        box-shadow: none;
        overflow: auto;
    }

    .navbar-nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    main {
        padding-top: 20px;
    }

    footer {
        padding-left: 0 !important;
    }

    header {
        max-width: 100%;
    }
}