body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9eedd;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
    background: #fefcf9;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header h1, .header h2, .header h3 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}


.title h1 {
    font-size: 2rem;
    color: #333;
}

.title h2 {
    font-size: 1.5rem;
    color: #666;
}

.title h3 {
    font-size: 1.2rem;
    color: #999;
}

.source ul {
    list-style: none;
    padding: 0;
}

.source ul li {
    padding: 2px 0;
}

.people ul {
    list-style: none;
    padding: 0;
}

.people ul li {
    padding: 2px 0;
}

.content {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 1.2rem;
}

.content h2 {
    margin: 20px 0;
    color: #333;
}

.content h5 {
    margin: 20px 0;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.content h4 {
    font-family: 'Noto Sans', sans-serif;
}

.content h4, .source h4, .people h4 {
    font-size: 1.5rem;
    color: #444;
    font-weight: bold;
    margin: 20px 0;
    text-align: left;
}

.content p {
    margin: 10px 0;
    text-align: justify;
}

.content figure {
    float: left;
    margin: 20px auto;
    box-sizing: border-box;
    border-radius: 20px;
    border: solid 1px #ccc;
    overflow: hidden;
}

.content figure img {
    width: 100%;
    height: auto;
}

.content figure figcaption {
    margin-top: 5px;
    font-style: italic;
    color: #666;
    font-size: 1.2rem;
}

.content figure figcaption p {
    margin: 0;
    text-align: center;
}

.person {
    font-weight: bold;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.divide {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

sup {
    text-decoration: underline dotted black;
    text-underline-offset: 3px;
    margin: auto 0.2em;
}

sup:hover {
    cursor: help;
}
